In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
cwd = os.getcwd()

In [58]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassendgerId"]

def clean(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)

    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)

    data.Embarked.fillna("U", inplace=True)
    return data
data = clean(data)
test = clean(test)

In [59]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [60]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])

data.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state =42)

In [62]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [66]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\s.palakorn\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\s.palakorn\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\s.palakorn\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\s.palakorn\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\s.palakorn\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)

In [69]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [70]:
submission_preds = clf.predict(test)

In [71]:
df = pd.DataFrame({"PassendgerID":test_ids.values,
                  "Survived": submission_preds
                  })

NameError: name 'test_ids' is not defined